<!DOCTYPE html>
<html>
<head>
	<title>list</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style type="text/css">
	 body
       {
        font-family:cursive;
       }         
  
</style>
</head>
<body>
<div class="container">
	<div class="jumbotron"style="background-color: lightgreen">
		<h1>
			Are You sure to delete?
		</h1>
		<a href="{% url 'deletepost' pk1=data1.id %}" class="btn btn-success">delete</a>
		<a href="{% url 'alp' %}" class="btn btn-danger">cancel</a>
	</div>
</div>
</body>
</html>